<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Address Book Demo</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript" src="/Scripts/head.min.js"></script>
        <!-- Bootstrap core CSS -->
        <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/Content/bootstrap/css/sticky-footer.css" rel="stylesheet">
        <link href="/Content/Site.css" rel="stylesheet">
        <script>
            head.js("/Scripts/jquery-1.7.1.min.js",
                        "/Scripts/jquery.dataTables.min.js",
                        "/Content/bootstrap/js/bootstrap.min.js",
                        "/Scripts/addressbook.model.js", function () {
                            $(function () {
 
                            })
                        });

        </script>
        
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
              <h1>@Html.ActionLink("Address Book Demo", "Index", "AddressBook")</h1>
            </div>
            
            <div class="container">
                @RenderBody()
            </div>
            <div style="padding-top:20px;"></div>
        </div>

        <div id="footer">
            <div class="container">
            <p class="text-muted credit"><p>&copy; @DateTime.Now.Year - Address Book Demo.</p>
            </div>
        </div>

    </body>
</html>
