<script>
    var _personId;
    var _personTypeId;

    function RenderMessage(msg) {
        $('#appMessage').html(msg);
    }
 </script>

<div class="alert alert-info" id="appMessage">Please continue by choosing a person from the right hand grid. </div>

<div class="row">
  <div class="col-xs-6">
      @{
            Html.RenderAction("PersonPartialView");
        }
  </div>
  <div class="col-xs-6">@{
            Html.RenderAction("PeoplePartialView");
        }</div>
</div>



@{
    Html.RenderPartial("PersonPopUpView");
}

