<script>
    function fnFireAppMessage(msg) {
        $('#appMessage').html(msg);
    }
</script>

<div class="alert alert-info" id="appMessage">Please continue by choosing a person from the right hand grid. </div>

<table class="table">
    <tr>
        <td>@{
            Html.RenderAction("PersonPartialView");
        }
        </td>
        <td rowspan="2">@{
            Html.RenderAction("PeoplePartialView");
        }
        </td>
    </tr>
    <tr>
        <td>@{
            Html.RenderAction("RelationshipPartialView");
        }
        </td>
    </tr>
</table>

@{
    Html.RenderPartial("PersonPopUpView");
}

