@{
    Layout = null;
}

<script>
    var oTable;

    head.ready(function () {
        $(function () {

            oTable = $('#peopleView');

            RenderPeopleView();

            $("#peopleView tbody").click(function (event) {

                var trNode = $(event.target).parents('tr')[0];
                var data = oTable.fnGetData(trNode);
                
                RenderPersonView(data.Id, data.PersonType);

            });

        });
    });

    function RenderPeopleView() {

        oTable.dataTable().fnDestroy();

        var peopleController = new PeopleController();

        peopleController.GetAll(function (data) {

            oTable = oTable.dataTable({
                "aaData": data,
                "bProcessing": false,
                "bServerSide": false,
                "bAutoWidth": true,
                "bFilter": true,
                "bInfo": true,
                "bSearchable": true,
                "bPaginate": true,
                "bSortCellsTop": true,
                "bRetrieve": false,
                "bDestroy": true,
                "oLanguage": {
                    "sEmptyTable": "No data available."
                },
                "aoColumns": [
                        { "mData": "Id" },
                        { "mData": "FullName" },
                        { "mData": "PersonType" }

                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    var personType;
                    switch (aData.PersonType) {
                        case 1:
                            personType = 'Customer';
                            break;
                        case 2:
                            personType = 'Employee';
                            break;
                        case 3:
                            personType = 'Manager';
                            break;
                        case 4:
                            personType = 'SalesPerson';
                            break;
                    }
                    $('td:eq(2)', nRow).html(personType);
                    return nRow;
                },
                "aoColumnDefs": [
                        { "sTitle": "ID", "aTargets": [0] },
                        { "sTitle": "Full Name", "aTargets": [1] },
                        { "sTitle": "Person Type", "aTargets": [2] }
                ]
            });

        });
    }

    function NewPersonPopUpView()
    {
        RenderPersonPopUpView();
        $('#personModal').modal('show');
        return false;
    }
</script>

<table id="peopleView" class="table table-striped table-bordered table-hover table-condensed">
	<thead>
		<tr>
            <th>Id</th>
            <th>FullName</th>
            <th>PersonType</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
 
<a data-toggle="modal" onclick="return NewPersonPopUpView();" class="btn btn-default pull-right">New Person</a>