@{
    Layout = null;
}
<script>
    function fnGetPersonView(id, personType) {

        var url;
        switch (personType) {
            case 1:
                url = "/api/customer/" + id;
                break;
            case 2:
                url = "/api/employee/" + id;
                break;
            case 3:
                url = "/api/manager/" + id;
                break;
            case 4:
                url = "/api/salesperson/" + id;
                break;
        }

        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            beforeSend: function () {
                $('#personAjaxLoader').html('<img src="/images/ajax-loader.gif">');
            },
            url: url,
            "sAjaxDataProp": "data.inner",
            success: function (json) {

                fnFireAppMessage(json.FullName+" has been selected.");
 
                $('#tbFirstName').val(json.FirstName);
                $('#tbLastName').val(json.LastName);
                $('#tbDateOfBirth').val(json.DateOfBirth);

                fnGetPersonDetails(json, personType);

                $('#personAjaxLoader').html('');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#personAjaxLoader').html('');
            }
        });

    }

    function fnGetPersonDetails(json, personType) {
        var details = '';
        switch (personType) {
            case 1:
                details += 'Gender: ' + json.Gender + "<br>";
                details += 'Age: ' + json.Age + "<br>";
                details += 'Race: ' + json.Race + "<br>";
                details += 'Education: ' + json.Education + "<br>";
                details += 'CreatedOn: ' + json.CreatedOn + "<br>";
                details += 'LastModifiedOn: ' + json.LastModifiedOn + "<br>";
                break;
            case 2:
                details += 'Department: ' + json.Department + "<br>";
                details += 'Branch: ' + json.Branch + "<br>";
                details += 'HireDate: ' + json.HireDate + "<br>";
                details += 'ApprovedOvertime: ' + json.ApprovedOvertime + "<br>";
                details += 'CreatedOn: ' + json.CreatedOn + "<br>";
                details += 'LastModifiedOn: ' + json.LastModifiedOn + "<br>";
                break;
            case 3:
                details += 'Department: ' + json.Department + "<br>";
                details += 'Branch: ' + json.Branch + "<br>";
                details += 'HireDate: ' + json.HireDate + "<br>";
                details += 'SpendingLimit: ' + json.SpendingLimit + "<br>";
                details += 'CreatedOn: ' + json.CreatedOn + "<br>";
                details += 'LastModifiedOn: ' + json.LastModifiedOn + "<br>";
                break;
            case 4:
                details += 'Department: ' + json.Department + "<br>";
                details += 'Branch: ' + json.Branch + "<br>";
                details += 'HireDate: ' + json.HireDate + "<br>";
                details += 'WeeklySalesGoal: ' + json.WeeklySalesGoal + "<br>";
                details += 'CreatedOn: ' + json.CreatedOn + "<br>";
                details += 'LastModifiedOn: ' + json.LastModifiedOn + "<br>";
                break;
        }
        $('#additionalDetails').html(details);
    }
</script>

<div id="personAjaxLoader"></div>

<form role="form">
    <div class="form-group">
        <label for="tbFirstName">First Name</label>
        <input type="text" class="form-control" id="tbFirstName" placeholder="First Name" class="input-sm">
    </div>
    <div class="form-group">
        <label for="tbLastName">Last Name</label>
        <input type="text" class="form-control" id="tbLastName" placeholder="Last Name" class="input-sm">
    </div>
    <div class="form-group">
        <label for="tbDateOfBirth">Date of Birth</label>
        <input type="date" class="form-control" id="tbDateOfBirth" placeholder="Last Name" class="input-sm">
    </div>
    <p class="lead">Additional Information:</p>
    <div class="alert alert-warning" id="additionalDetails"></div>
</form>
