@{
    Layout = null;
}
<script>
    function RenderPersonView(id, personType) {
       
        _personId = id;
        _personTypeId = personType;

        switch (personType) {
            case 1:
                var customerController = new CustomerController();
                customerController.Get(id, function (data) {
                    RenderPersonDetailView(data, personType);
                });
                break;
            case 2:
                var employeeController = new EmployeeController();
                employeeController.Get(id, function (data) {
                    RenderPersonDetailView(data, personType);
                });
                break;
            case 3:
                var managerController = new ManagerController();
                managerController.Get(id, function (data) {
                    RenderPersonDetailView(data, personType);
                });
                break;
            case 4:
                var salesPersonController = new SalesPersonController();
                salesPersonController.Get(id, function (data) {
                    RenderPersonDetailView(data, personType);
                });
                break;
        }
    }

    function RenderPersonDetailView(data, personType)
    {
        RenderMessage(data.FullName + " has been selected.");

        $('#tbFirstName').val(data.FirstName);
        $('#tbLastName').val(data.LastName);
        $('#tbDateOfBirth').val(data.DateOfBirth);

        var details = '';
        switch (personType) {
            case 1:
                details += 'Gender: ' + data.Gender + "<br>";
                details += 'Age: ' + data.Age + "<br>";
                details += 'Race: ' + data.Race + "<br>";
                details += 'Education: ' + data.Education + "<br>";
                details += 'CreatedOn: ' + data.CreatedOn + "<br>";
                details += 'LastModifiedOn: ' + data.LastModifiedOn + "<br>";
                break;
            case 2:
                details += 'Department: ' + data.Department + "<br>";
                details += 'Branch: ' + data.Branch + "<br>";
                details += 'HireDate: ' + data.HireDate + "<br>";
                details += 'ApprovedOvertime: ' + data.ApprovedOvertime + "<br>";
                details += 'CreatedOn: ' + data.CreatedOn + "<br>";
                details += 'LastModifiedOn: ' + data.LastModifiedOn + "<br>";
                break;
            case 3:
                details += 'Department: ' + data.Department + "<br>";
                details += 'Branch: ' + data.Branch + "<br>";
                details += 'HireDate: ' + data.HireDate + "<br>";
                details += 'SpendingLimit: ' + data.SpendingLimit + "<br>";
                details += 'CreatedOn: ' + data.CreatedOn + "<br>";
                details += 'LastModifiedOn: ' + data.LastModifiedOn + "<br>";
                break;
            case 4:
                details += 'Department: ' + data.Department + "<br>";
                details += 'Branch: ' + data.Branch + "<br>";
                details += 'HireDate: ' + data.HireDate + "<br>";
                details += 'WeeklySalesGoal: ' + data.WeeklySalesGoal + "<br>";
                details += 'CreatedOn: ' + data.CreatedOn + "<br>";
                details += 'LastModifiedOn: ' + data.LastModifiedOn + "<br>";
                break;
        }

        $('#additionalDetails').html(details);
    }

    function DeletePersonConfirm()
    {
        $('#deleteRelationshipModal').modal('show');
    }

    function DeletePerson()
    {
        RenderMessage('Person has been deleted.');
        $('#deleteRelationshipModal').modal('hide');
        $('#tbFirstName').val('');
        $('#tbLastName').val('');
        $('#tbDateOfBirth').val('');
        $('#additionalDetails').html('');
    }

</script>

<form role="form">
    <div class="form-group">
        <label for="tbFirstName">First Name</label>
        <input type="text" class="form-control" id="tbFirstName" placeholder="First Name" class="input-sm">
    </div>
    <div class="form-group">
        <label for="tbLastName">Last Name</label>
        <input type="text" class="form-control" id="tbLastName" placeholder="Last Name" class="input-sm">
    </div>
    <div class="form-group">
        <label for="tbDateOfBirth">Date of Birth</label>
        <input type="date" class="form-control" id="tbDateOfBirth" placeholder="Last Name" class="input-sm">
    </div>
    <p class="lead">Additional Information:</p>
    <div class="alert alert-warning" id="additionalDetails"></div>
</form>


<table id="relationshipView" class="table table-striped table-bordered table-hover table-condensed">
	<thead>
		<tr>
            <th>Id</th>
            <th>FullName</th>
            <th>PersonType</th>
            <th>Distance</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<input id="btnDelete" type="button" value="Delete" class="btn btn-default" onclick="DeletePersonConfirm();" />
<a data-toggle="modal" href="#personModal" class="btn btn-default pull-right">Edit</a>

<div class="modal fade" id="deleteRelationshipModal" tabindex="-1" role="dialog" aria-labelledby="deleteRelationshipModal" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete this Person!</h4>
    </div>
    <div class="modal-body">
      Are you sure you want to delete this person?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="DeletePerson();">Save changes</button>
    </div>
    </div>
</div>
</div>
