<script>
    function fnSavePerson() {

        var personType = parseInt($('#cbPersonType1').val());
        var person;
        var url;

        switch (personType) {
            case 1:
                url = '/api/customer';
                person = new Customer(0,
					                    $('#tbFirstName1').val(),
					                    $('#tbLastName1').val(),
					                    $('#tbDateOfBirth1').val(),
					                    '',
					                    0,
					                    '',
					                    '');
                break;
            case 2:
                url = '/api/employee';
                person = new Employee(0,
					                    $('#tbFirstName1').val(),
					                    $('#tbLastName1').val(),
					                    $('#tbDateOfBirth1').val(),
					                    '',
					                    '',
					                    '',
					                    new Date(),
					                    0);
                break;
            case 3:
                url = '/api/manager';
                person = new Manager(0,
					                $('#tbFirstName1').val(),
					                $('#tbLastName1').val(),
					                $('#tbDateOfBirth1').val(),
					                '',
					                '',
					                '',
					                new Date(),
					                0);
                break;
            case 4:
                url = '/api/salesperson';
                person = new SalesPerson(id,
						                    $('#tbFirstName1').val(),
					                        $('#tbLastName1').val(),
					                        $('#tbDateOfBirth1').val(),
						                    '',
						                    '',
						                    '',
						                    new Date(),
						                    0);
                break;
        }

        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            url: url,
            data: JSON.stringify(person),
            success: function (json) {
                $('#personModal').modal('hide');
                fnFireAppMessage('New person has been created/modified.');
                fnGetPeople();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                debugger;
            }
        });
    }
</script>

<div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Person</h4>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="tbFirstName">First Name</label>
                <input type="text" class="form-control" id="tbFirstName1" placeholder="First Name" class="input-sm">
            </div>
            <div class="form-group">
                <label for="tbLastName">Last Name</label>
                <input type="text" class="form-control" id="tbLastName1" placeholder="Last Name" class="input-sm">
            </div>
            <div class="form-group">
                <label for="tbDateOfBirth">Date of Birth</label>
                <input type="date" class="form-control" id="tbDateOfBirth1" placeholder="Date of Birth" class="input-sm">
            </div>
            <div class="form-group">
                <label for="cbPersonType1">Person Type</label>
                <select class="form-control" id="cbPersonType" class="input-sm">
                    <option value="1">Customer</option>
                    <option value="2">Employee</option>
                    <option value="3">Manager</option>
                    <option value="4">Sales Person</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="fnSavePerson();">Save changes</button>
    </div>
    </div>
</div>
</div>